* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Cabin', sans-serif;
}

.navbar {
    background: #2D2D34;
    height: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    z-index: 1;
    width: 100%;
    margin: 0 auto;
    padding: 0 48px;
}

.menu__wave {
    display: none;
}

#navbar__logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.navbar__menu {
    display: flex;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 52px;
}

.navbar__links {
    color: #FAF9F6;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding-inline: 1rem;
    height: 100%;
}

.navbar__links:hover {
    color: #C8A2C8;
    transition: all 0.3s ease;
}

.navbar__toggle {
    align-items: center;
}

@media screen and (max-width: 700px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 99;
        width: 100%;
        padding: 0;
    }

    .navbar.active {
        background: #131316;
        transition: all 0.3s ease;
        transition-delay: 150ms;
        z-index: 99;
        font-size: 1.2rem;
    }

    .menu__container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: auto;
        position: absolute;
        top: -1000px;
        transition: all 0.5s ease;
        z-index: -1;
    }

    .menu__container.active {
        top: 76px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: -1;
        height: auto;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        padding: 0 0 20px 0;
        margin: 0;
        width: 100%;
        position: absolute;
        opacity: 0;
        transition: all 0.5s ease;
        z-index: -1;
        background: #131316;
    }

    .navbar__menu.active {
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.2rem;
    }

    .menu__wave {
        position: absolute;
        width: 100%;
        display: flex;
        transition: all 0.5s ease;
        z-index: -1;
        opacity: 0;
    }

    .menu__wave.active {
        position: absolute;
        top: 50vh;
        height: 100px;
        width: 100%;
        display: flex;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }

    #navbar__logo {
        padding-left: 20px;
    }

    .navbar__toggle {
        cursor: pointer;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #FAF9F6;
        display: block;
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

/*Hero Section*/

.hero {
    background-color: #2D2D34;
}

.hero__container {
    display: grid;
    grid-auto-flow: column;
    grid-template-areas: 'title title'
    'subtitle img'
    'para img';
    grid-template-rows: 45% 10% 45%;
    grid-template-columns: 49% 49%;
    column-gap: 2%;
    margin: 0px;
    height: 90dvh;
    min-height: 550px;
    z-index: 1;
    width: auto;
    margin: 0 48px 0 48px;
}

.title {
    grid-area: title;
    font-family: 'IBM Plex Mono', static;
    font-size: 2.5rem;
    color:#FAF9F6;
    height: 100%;
    padding: 32px 0 32px 0;
    z-index: 1;
    width: fit-content;
    margin-inline: auto;
}

#typing-text {
    display: inline; /* Ensure the text can wrap */
    position: relative; /* Allows the pseudo-element to position itself relative to this element */
    word-wrap: break-word;
    word-break: break-word;
    overflow-wrap: break-word;
    margin: 0;
}

#typing-text::after {
    content: ""; /* Empty content for the cursor */
    position: absolute; /* Position relative to the parent */
    left: 100%;
    width: 5px;
    height: 5rem; /* Match the line height or adjust as needed */
    background-color: #C8A2C8; /* Cursor color */
    animation: blink-caret 0.75s step-end infinite;
}

@keyframes blink-caret {
    from, to {
        background-color: transparent;
    }
    50% {
        background-color: #C8A2C8;
    }
}

.hero__container h2 {
    grid-area: subtitle;
    font-family: 'Cabin', sans-serif;
    font-size: 2rem;
    color:#CAF7E2;
    justify-content: center;
    z-index: 1;
    margin: 0;
}

.hero__container p {
    grid-area: para;
    font-family: 'Cabin', sans-serif;
    font-size: 1rem;
    color:#FAF9F6;
    justify-content: center;
    z-index: 1;
    right: 50vw;
}

.wave {
    position: absolute;
    height: 100px;
    width: 100%;
    display: flex;
    z-index: -1;
}

@media screen and (max-width: 700px) and (min-width: 301px) {
    .hero__container {
        margin: 0 24px 0 24px;
        max-width: 100%;
    }

    .title {
        font-size: 2rem;
    }
}

@media screen and (max-width: 300px) {
    .hero__container {
        margin: 0 24px 0 24px;
        max-width: 100%;
    }

    .title {
        font-size: 1.5rem;
    }
}

/*Bio Section*/
.bio {
    background-color: #FAF9F6;
}

.bio__container {
    display: grid;
    position: absolute;
    grid-auto-flow: column;
    grid-template-areas: 'title'
    'para'
    'btn';
    grid-template-rows: auto;
    grid-template-columns: 100%;
    row-gap: 20px;
    max-width: 700px;
    margin: 0px;
    height: min-content;
    z-index: 1;
    width: auto;
    padding-bottom: 70px;
    margin: 200px 48px 0 48px;
}

.bio__container span {
    color:#9A5B9A;
}

.bio__container h1 {
    grid-area: title;
    font-family: 'Cabin', sans-serif;
    font-size: 2rem;
    color:#131316;
    justify-content: center;
    z-index: 1;
    margin: 0;
}

.bio__container p {
    grid-area: para;
    font-family: 'Cabin', sans-serif;
    font-size: 1rem;
    justify-content: center;
    height: fit-content;
    z-index: 1;
    margin: 0;
}

.bio__container button {
    grid-area: btn;
    background: #9A5B9A;
    color:#FAF9F6;
    padding: 8px 8px;
    border: none;
    outline: none;
    border-radius: 8px;
    font-family: 'Cabin', sans-serif;
    font-size: 1rem;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 170px;
    height: 50px;
    z-index: 1;
    margin: 20px 0;
}

@media screen and (max-width: 700px){
    .bio__container {
        margin: 200px 24px 0 24px;
        max-width: 100%;
    }
}